<div class="t_system">
    <div class="row ">
        <div class="col-md-12">
            <div class="infoentry_info panel-body panel">
                <ul>
                    <li class="col-md-3">
                        <label class="col-md-4 mar_pad text-left">路段名称：</label>
                        <select class="entry_input col-md-7">
                            <option>
                                <全部>
                            </option>
                            <option>
                                <全部>
                            </option>
                            <option>
                                <全部>
                            </option>
                            <option>
                                <全部>
                            </option>
                            <option>
                                <全部>
                            </option>
                        </select>
                    </li>
                    <li class="col-md-3">
                        <label class="col-md-4 mar_pad">事件类型：</label>
                        <select class="entry_input col-md-7">
                            <option>
                                <全部>
                            </option>
                            <option>
                                <全部>
                            </option>
                            <option>
                                <全部>
                            </option>
                            <option>
                                <全部>
                            </option>
                            <option>
                                <全部>
                            </option>
                        </select>
                    </li>
                    <li class="col-md-3">
                        <label class="col-md-5 mar_pad">起始时间：</label>
                        <input size="16" type="text" value="2012-06-15 14:45" readonly class="form_datetime entry_input input_padding col-md-7" style="cursor:no-drop">
                    </li>
                    <li class="col-md-2">
                        <label class="col-md-1 mar_pad text-center"> - </label>
                        <input size="16" type="text" value="2012-06-15 14:45" readonly class="form_datetime entry_input input_padding col-md-11" style="cursor:no-drop">
                    </li>
                    <li class="col-md-1"><span class="excep_query f_r">查询</span></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">

                <div class="panel-body">
                    <div class="adv-table">
                        <table class="display table table-bordered table-striped" id="dynamic-table">
                            <thead>
                            <tr>
                                <th>执行结果</th>
                                <th>执行时间</th>
                                <th>预案名称</th>
                                <th class="hidden-phone">预案隧道编号</th>
                                <th class="hidden-phone">预案隧道名称</th>
                                <th class="hidden-phone">事件类型</th>
                                <th class="hidden-phone">事件发生方向</th>
                                <th class="hidden-phone">事件发生区域</th>
                            </tr>
                            </thead>
                            <tbody id="group_one">
                            <tr class="gradeX">
                                <td>预案执行失败</td>
                                <td>2015/10/25 15:00</td>
                                <td>大口子隧道下行火灾1/2</td>
                                <td class="center hidden-phone">1004</td>
                                <td class="center hidden-phone">大口子隧道</td>
                                <td class="center hidden-phone">火灾</td>
                                <td class="center hidden-phone">上行</td>
                                <td class="center hidden-phone">1</td>
                            </tr>
                            <tr class="gradeX">
                                <td>预案执行失败</td>
                                <td>2015/10/25 15:00</td>
                                <td>大口子隧道下行火灾1/2</td>
                                <td class="center hidden-phone">1004</td>
                                <td class="center hidden-phone">大口子隧道</td>
                                <td class="center hidden-phone">火灾</td>
                                <td class="center hidden-phone">上行</td>
                                <td class="center hidden-phone">1</td>
                            </tr>
                            <tr class="gradeX">
                                <td>预案执行失败</td>
                                <td>2015/10/25 15:00</td>
                                <td>大口子隧道下行火灾1/2</td>
                                <td class="center hidden-phone">1004</td>
                                <td class="center hidden-phone">大口子隧道</td>
                                <td class="center hidden-phone">火灾</td>
                                <td class="center hidden-phone">上行</td>
                                <td class="center hidden-phone">1</td>
                            </tr>
                            <tr class="gradeX">
                                <td>预案执行失败</td>
                                <td>2015/10/25 15:00</td>
                                <td>大口子隧道下行火灾1/2</td>
                                <td class="center hidden-phone">1004</td>
                                <td class="center hidden-phone">大口子隧道</td>
                                <td class="center hidden-phone">火灾</td>
                                <td class="center hidden-phone">上行</td>
                                <td class="center hidden-phone">1</td>
                            </tr>
                            <tr class="gradeX">
                                <td>预案执行失败</td>
                                <td>2015/10/25 15:00</td>
                                <td>大口子隧道下行火灾1/2</td>
                                <td class="center hidden-phone">1004</td>
                                <td class="center hidden-phone">大口子隧道</td>
                                <td class="center hidden-phone">火灾</td>
                                <td class="center hidden-phone">上行</td>
                                <td class="center hidden-phone">1</td>
                            </tr>
                            <tr class="gradeX">
                                <td>预案执行失败</td>
                                <td>2015/10/25 15:00</td>
                                <td>大口子隧道下行火灾1/2</td>
                                <td class="center hidden-phone">1004</td>
                                <td class="center hidden-phone">大口子隧道</td>
                                <td class="center hidden-phone">火灾</td>
                                <td class="center hidden-phone">上行</td>
                                <td class="center hidden-phone">1</td>
                            </tr>
                            <tr class="gradeX">
                                <td>预案执行失败</td>
                                <td>2015/10/25 15:00</td>
                                <td>大口子隧道下行火灾1/2</td>
                                <td class="center hidden-phone">1004</td>
                                <td class="center hidden-phone">大口子隧道</td>
                                <td class="center hidden-phone">火灾</td>
                                <td class="center hidden-phone">上行</td>
                                <td class="center hidden-phone">1</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-12">
                        <ul class="infotain_page col-md-9">
                            <a href="#" onclick="page.prePage();"><</a>
                            <a id="divFood"> </a>
                            <a href="#" onclick="page.nextPage();" >></a>
                            <a  class="last_page" id="pageCount"></a>
                            <a class="last_text_page dn" id="rowCount"></a>
                        </ul>
                        <div class="col-md-3 f_r mar_pad">
                            <span class="col-md-8"><em class="excel excep_but">手动执行预案</em></span>
                            <span class="col-md-4 mar_pad"><em class="excel">导出Excel</em></span>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>

</div>
<script type="text/javascript" src="js/pickers-init.js"></script>
